# Ignore Rust build artifacts
target/
debug/
release/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore dependency and compiled files
Cargo.lock
*.exe
*.dll
*.so
*.dylib
*.o
*.pdb
*.log
*.tmp

# Ignore specific folders
Burp Suite/
KLEE/
Main/
Z3/
